HTTP_ADDR=:8080
PUBLIC_BASE_URL=http://localhost:8080

# Может быть локальным memory или postgres
STORAGE_TYPE=memory
POSTGRES_DSN=postgres://postgres:password@localhost:5432/url_shorter?sslmode=disable
